* {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-variant-ligatures: none;
}
html {
  font-size: 14px;
}
html, body {
  height: 100%;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
.expand svg {
  vertical-align: top;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -55px;
  background-color: #eee;
}
#header {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  background-color: #eee;
}
#main {
  padding-bottom: 30px;
}
h5#title {
  color: black;
  float: left;
  margin: 0px 10px 0px 0px;
}
#content {
  min-height: 125px;
}
#push, #footer {
  height: 15px;
}
.btn:focus, .btn:active:focus {
  outline: none !important;
  box-shadow: none !important;
}
.wait, .wait * {
  cursor: wait !important;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

:root {
  --bs-info: #17a2b8;
  --bs-info-rgb: 23, 162, 184;
}
.btn-bd-primary {
  background-color: #7952b3;
  border-color: #7952b3
}
.btn-bd-primary:hover, .btn-bd-primary:active {
  background-color: #61428f;
  border-color: #61428f
}
.btn-bd-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(121, 82, 179, 0.5);
}
